@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
}

.app{
  margin: 0px;
  padding: 0px;
  background-image:linear-gradient(to bottom left ,rgb(238, 113, 113)  ,rgb(234, 234, 141)   );
}