.footer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    background-color: goldenrod;
    margin: 2px;

    border: 2px solid black;


}