             * {
                 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

             }

             .cont2 {
                 height: 1130px;
                 width: 400px;
                 box-shadow: 0px 0px 10px black;
                 margin: 80px auto;
                 border-radius: 10px;
                 padding: 20px;
                 /* text-align: center; */
             }

             .inputfield {
                 display: flex;
                 flex-direction: column;
                 padding: 10px;
                 font-size: large;

             }

             #txtbox {
                 height: 30px;
                 width: 350px;
                 /* margin: 10px; */
                 border-top-style: none;
                 border-right-style: none;
                 border-left-style: none;
                 outline: none;
             }

             .inputfieldGender,
             .inputfieldDate,
             .inputfieldSelect,
             .inputfieldImg,
             .inputfieldCity {
                 display: flex;

                 padding: 10px;
                 font-size: large;
             }

             .inputfieldGender input {
                 margin-left: 20px;
             }

             .inputfieldDate input,
             .inputfieldSelect select {
                 margin-left: 20px;
                 width: 100px;

             }

             .inputfieldCity select {
                 width: 100px;
                 margin-left: 30px;
             }

             .inputfieldImg input {
                 margin-left: 9px;
             }

             .inputfield2 {
                 display: flex;
                 margin-top: 10px;
             }

             .inputfield2 input {
                 margin-left: 10px;
             }

             .btn {
                 margin: 20px;
                 text-align: center;

             }

             button {
                 height: 40px;
                 width: 200px;
                 border: none;
                 border-radius: 5px;
                 background-color: #fec345;
                 color: white;
                 font-size: larger;
             }

             button:hover {
                 background-color: #f3a807;
                 ;
                 color: white;
                 border: 1px solid black;
                 cursor: pointer;
             }

             .txt {
                 margin-left: 10px;
                 font-size: small;
             }