.images{
     width: 50%;
    display: flex;
    margin-right: 0;
    margin-left: 60px;
}
.img-contents{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 5px 20px;
}
.img-contents img{
    margin: 5px 0px;
}
.img{
    margin-top: 10px;
}